Repository ezavile/conquer-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, format-package -w, eslint --fix-dry-run

.lintstagedrc:

{
  "**/*.json": [
    "prettier --write"
  ],
  "**/package.json": [
    "format-package -w"
  ],
  "**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix-dry-run"
  ],
}

refactor(forecast): use ES Modules syntax
  packages/forecast/src/components/wallpaper/wallpaper.spec.tsx
  packages/forecast/src/components/wallpaper/wallpaper.tsx
Due: prettier --write, eslint --fix-dry-run

fix: tsconfig since parcel has problems with extends option
  packages/forecast/tsconfig.json
  tsconfig.base.json
Due: prettier --write

fix: apply hooks rules and recognize internal dependencies
  .eslintrc.js
Due: none

chore: ignore .env files
  .gitignore
Due: none

feat(forecast): integrate unsplash-js to get random photo
  package.json
  packages/forecast/.env.example
  packages/forecast/package.json
  packages/forecast/src/app.tsx
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore: add lerna and workspace environment
  .editorconfig
  .gitignore
  .nvmrc
  .yarnrc
  lerna.json
  package.json
  packages/.gitkeep
  yarn.lock
Due: prettier --write, format-package -w

feat(article-preview): initialize repo using cra
  .gitignore
  package.json
  packages/article-preview/README.md
  packages/article-preview/package.json
  packages/article-preview/public/favicon.ico
  packages/article-preview/public/index.html
  packages/article-preview/public/logo192.png
  packages/article-preview/public/logo512.png
  packages/article-preview/public/manifest.json
  packages/article-preview/public/robots.txt
  packages/article-preview/src/App.css
  packages/article-preview/src/App.test.tsx
  packages/article-preview/src/App.tsx
  packages/article-preview/src/index.css
  packages/article-preview/src/index.tsx
  packages/article-preview/src/logo.svg
  packages/article-preview/src/react-app-env.d.ts
  packages/article-preview/src/serviceWorker.ts
  packages/article-preview/src/setupTests.ts
  packages/article-preview/tsconfig.json
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore: add eslint and prettier
  .eslintignore
  .eslintrc.js
  .gitignore
  .prettierrc
  .vscode/settings.json
  package.json
  packages/article-preview/.env
  packages/article-preview/package.json
  packages/article-preview/tsconfig.json
  tsconfig.base.json
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, format-package -w

chore: add husky and lintstaged
  .huskyrc.js
  .lintstagedrc.js
  package.json
  yarn.lock
Due: prettier --write, format-package -w

chore: add commitlint configurations
  .huskyrc.js
  commitlint.config.js
  package.json
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, format-package -w

docs(article-preview): add style-guide of frontendmentor challenge
  packages/article-preview/style-guide.md
Due: none

feat: integrate tailwindcss, postcss with craco configuration
  package.json
  packages/article-preview/craco.config.js
  packages/article-preview/package.json
  packages/article-preview/src/App.css
  packages/article-preview/src/App.tsx
  packages/article-preview/src/index.css
  packages/article-preview/tailwind.config.js
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(craco-config): add basic configuration needed
  package.json
  packages/craco-config/craco.config.js
  packages/craco-config/package.json
  packages/craco-config/tailwind.config.js
Due: prettier --write, format-package -w

refactor(article-preview): use basic craco-configuration
  packages/article-preview/craco.config.js
  packages/article-preview/package.json
  packages/article-preview/src/App.css
  packages/article-preview/src/App.tsx
  packages/article-preview/tailwind.config.js
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore: disable a pair of eslint rules
  .eslintrc.js
Due: none

chore: add tailwindcss and react-icons as global dep
  package.json
  packages/.gitkeep
  yarn.lock
Due: prettier --write, format-package -w

feat(craco-config): enable purge css
  packages/craco-config/package.json
  packages/craco-config/tailwind.config.js
Due: prettier --write, format-package -w

feat(article-preview): add custom tailwind values
  packages/article-preview/package.json
  packages/article-preview/tailwind.config.js
Due: prettier --write, format-package -w

chore: disable rule to allow spread props
  .eslintrc.js
Due: none

chore: update testing-library dependencies
  package.json
  yarn.lock
Due: prettier --write, format-package -w

chore: ignore snap files
  .eslintignore
  .prettierignore
Due: none

feat(article-preview): add solution for challenge
  packages/article-preview/package.json
  packages/article-preview/public/favicon.ico
  packages/article-preview/src/App.css
  packages/article-preview/src/App.test.tsx
  packages/article-preview/src/App.tsx
  packages/article-preview/src/components/author/author.spec.tsx
  packages/article-preview/src/components/author/author.tsx
  packages/article-preview/src/components/author/index.ts
  packages/article-preview/src/components/background-image/background-image.spec.tsx
  packages/article-preview/src/components/background-image/background-image.tsx
  packages/article-preview/src/components/background-image/index.ts
  packages/article-preview/src/components/card/__snapshots__/card.spec.tsx.snap
  packages/article-preview/src/components/card/card.spec.tsx
  packages/article-preview/src/components/card/card.tsx
  packages/article-preview/src/components/card/index.ts
  packages/article-preview/src/components/index.ts
  packages/article-preview/src/components/share/index.ts
  packages/article-preview/src/components/share/share.spec.tsx
  packages/article-preview/src/components/share/share.tsx
  packages/article-preview/src/images/avatar-michelle.jpg
  packages/article-preview/src/images/drawers.jpg
  packages/article-preview/src/index.css
  packages/article-preview/src/index.tsx
  packages/article-preview/src/logo.svg
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore: enable changelogs dynamics
  package.json
  packages/article-preview/package.json
  packages/craco-config/package.json
Due: prettier --write, format-package -w

feat(coding-bootcamp-testimonials-slider): add initial CRA structure
  packages/coding-bootcamp-testimonials-slider/.env
  packages/coding-bootcamp-testimonials-slider/README.md
  packages/coding-bootcamp-testimonials-slider/craco.config.js
  packages/coding-bootcamp-testimonials-slider/package.json
  packages/coding-bootcamp-testimonials-slider/public/favicon.ico
  packages/coding-bootcamp-testimonials-slider/public/index.html
  packages/coding-bootcamp-testimonials-slider/public/logo192.png
  packages/coding-bootcamp-testimonials-slider/public/logo512.png
  packages/coding-bootcamp-testimonials-slider/public/manifest.json
  packages/coding-bootcamp-testimonials-slider/public/robots.txt
  packages/coding-bootcamp-testimonials-slider/src/App.css
  packages/coding-bootcamp-testimonials-slider/src/App.test.tsx
  packages/coding-bootcamp-testimonials-slider/src/App.tsx
  packages/coding-bootcamp-testimonials-slider/src/index.css
  packages/coding-bootcamp-testimonials-slider/src/index.tsx
  packages/coding-bootcamp-testimonials-slider/src/logo.svg
  packages/coding-bootcamp-testimonials-slider/src/react-app-env.d.ts
  packages/coding-bootcamp-testimonials-slider/src/serviceWorker.ts
  packages/coding-bootcamp-testimonials-slider/src/setupTests.ts
  packages/coding-bootcamp-testimonials-slider/tailwind.config.js
  packages/coding-bootcamp-testimonials-slider/tsconfig.json
Due: prettier --write, format-package -w, eslint --fix-dry-run

docs(coding-bootcamp-testimonials-slider): add readme and style-guide
  packages/coding-bootcamp-testimonials-slider/README.md
  packages/coding-bootcamp-testimonials-slider/style-guide.md
Due: none

feat(coding-bootcamp-testimonials-slider): add basic tailwind config
  packages/coding-bootcamp-testimonials-slider/src/App.css
  packages/coding-bootcamp-testimonials-slider/src/App.test.tsx
  packages/coding-bootcamp-testimonials-slider/src/App.tsx
  packages/coding-bootcamp-testimonials-slider/src/images/pattern-curve.svg
  packages/coding-bootcamp-testimonials-slider/src/index.css
  packages/coding-bootcamp-testimonials-slider/src/logo.svg
  packages/coding-bootcamp-testimonials-slider/tailwind.config.js
Due: prettier --write, eslint --fix-dry-run

feat(coding-bootcamp-testimonials-slider): add basic markup
  packages/coding-bootcamp-testimonials-slider/src/App.tsx
  packages/coding-bootcamp-testimonials-slider/src/images/image-john.jpg
  packages/coding-bootcamp-testimonials-slider/src/images/image-tanya.jpg
  packages/coding-bootcamp-testimonials-slider/src/images/pattern-bg.svg
  packages/coding-bootcamp-testimonials-slider/src/images/pattern-quotes.svg
  packages/coding-bootcamp-testimonials-slider/src/index.css
  packages/coding-bootcamp-testimonials-slider/tailwind.config.js
Due: prettier --write, eslint --fix-dry-run

chore: add react-transition-group dependencie
  package.json
  yarn.lock
Due: prettier --write, format-package -w

feat(coding-bootcamp-testimonials-slider): add solution for challenge
  packages/coding-bootcamp-testimonials-slider/package.json
  packages/coding-bootcamp-testimonials-slider/public/favicon.ico
  packages/coding-bootcamp-testimonials-slider/public/index.html
  packages/coding-bootcamp-testimonials-slider/src/App.tsx
  packages/coding-bootcamp-testimonials-slider/src/__mocks__/app-context-mock.tsx
  packages/coding-bootcamp-testimonials-slider/src/app-context.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/controls/controls.css
  packages/coding-bootcamp-testimonials-slider/src/components/controls/controls.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/controls/controls.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/controls/index.ts
  packages/coding-bootcamp-testimonials-slider/src/components/image/image.css
  packages/coding-bootcamp-testimonials-slider/src/components/image/image.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/image/image.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/image/index.ts
  packages/coding-bootcamp-testimonials-slider/src/components/index.ts
  packages/coding-bootcamp-testimonials-slider/src/components/quote/index.ts
  packages/coding-bootcamp-testimonials-slider/src/components/quote/quote.css
  packages/coding-bootcamp-testimonials-slider/src/components/quote/quote.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/quote/quote.tsx
  packages/coding-bootcamp-testimonials-slider/src/index.css
  packages/coding-bootcamp-testimonials-slider/src/index.tsx
Due: prettier --write, format-package -w, eslint --fix-dry-run

docs(article-preview): use frontendmentor readme
  packages/article-preview/README.md
Due: none

feat(article-preview): use analytics script
  packages/article-preview/public/index.html
Due: none

fix(article-preview): format published date for dateTime attr
  packages/article-preview/src/components/author/author.spec.tsx
  packages/article-preview/src/components/author/author.tsx
  packages/article-preview/src/components/card/__snapshots__/card.spec.tsx.snap
Due: prettier --write, eslint --fix-dry-run

docs(article-preview): add design
  packages/article-preview/design/desktop-active-state.jpg
  packages/article-preview/design/desktop-design.jpg
  packages/article-preview/design/desktop-preview.jpg
  packages/article-preview/design/mobile-active-state.jpg
  packages/article-preview/design/mobile-design.jpg
Due: none

docs(coding-bootcamp-testimonials-slider): add design
  packages/coding-bootcamp-testimonials-slider/design/desktop-design-slide-1.jpg
  packages/coding-bootcamp-testimonials-slider/design/desktop-design-slide-2.jpg
  packages/coding-bootcamp-testimonials-slider/design/desktop-preview.jpg
  packages/coding-bootcamp-testimonials-slider/design/mobile-design-slide-1.jpg
  packages/coding-bootcamp-testimonials-slider/design/mobile-design-slide-2.jpg
Due: none

feat(social-media-dashboard): add initial CRA structure
  packages/social-media-dashboard/.env
  packages/social-media-dashboard/README.md
  packages/social-media-dashboard/package.json
  packages/social-media-dashboard/public/favicon.ico
  packages/social-media-dashboard/public/index.html
  packages/social-media-dashboard/public/logo192.png
  packages/social-media-dashboard/public/logo512.png
  packages/social-media-dashboard/public/manifest.json
  packages/social-media-dashboard/public/robots.txt
  packages/social-media-dashboard/src/App.css
  packages/social-media-dashboard/src/App.test.tsx
  packages/social-media-dashboard/src/App.tsx
  packages/social-media-dashboard/src/index.css
  packages/social-media-dashboard/src/index.tsx
  packages/social-media-dashboard/src/logo.svg
  packages/social-media-dashboard/src/react-app-env.d.ts
  packages/social-media-dashboard/src/serviceWorker.ts
  packages/social-media-dashboard/src/setupTests.ts
  packages/social-media-dashboard/tsconfig.json
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(craco-config): add basic config in order to not use tailwindcss
  packages/craco-config/basic.config.js
  packages/craco-config/package.json
  yarn.lock
Due: prettier --write, format-package -w

feat(social-media-dashboard): add html structure for challenge
  package.json
  packages/social-media-dashboard/craco.config.js
  packages/social-media-dashboard/package.json
  packages/social-media-dashboard/src/App.css
  packages/social-media-dashboard/src/App.test.tsx
  packages/social-media-dashboard/src/App.tsx
  packages/social-media-dashboard/src/index.css
  packages/social-media-dashboard/src/index.tsx
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

docs(social-media-dashboard): add frontendmentor instructions
  packages/social-media-dashboard/README.md
  packages/social-media-dashboard/design/active-states-dark.jpg
  packages/social-media-dashboard/design/active-states-light.jpg
  packages/social-media-dashboard/design/desktop-design-dark.jpg
  packages/social-media-dashboard/design/desktop-design-light.jpg
  packages/social-media-dashboard/design/desktop-preview.jpg
  packages/social-media-dashboard/design/mobile-design-dark.jpg
  packages/social-media-dashboard/design/mobile-design-light.jpg
  packages/social-media-dashboard/style-guide.md
Due: none

feat(social-media-dashboard): add style for header and followers section
  packages/social-media-dashboard/src/App.tsx
  packages/social-media-dashboard/src/index.css
Due: prettier --write, eslint --fix-dry-run

feat(social-media-dashboard): add style for subscriptions section
  packages/social-media-dashboard/src/App.tsx
  packages/social-media-dashboard/src/index.css
Due: prettier --write, eslint --fix-dry-run
