Repository ezavile/conquer-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, format-package -w, eslint --fix-dry-run

.lintstagedrc:

{
  "**/*.json": [
    "prettier --write"
  ],
  "**/package.json": [
    "format-package -w"
  ],
  "**/*.{ts,tsx}": [
    "prettier --write",
    "eslint --fix-dry-run"
  ],
}

feat(social-media-dashboard): add react-icons
  packages/social-media-dashboard/src/App.tsx
  packages/social-media-dashboard/src/index.css
Due: prettier --write, eslint --fix-dry-run

feat(social-media-dashboard): add toggle style
  packages/social-media-dashboard/src/App.tsx
  packages/social-media-dashboard/src/index.css
Due: prettier --write, eslint --fix-dry-run

chore: add styled-components as global dep
  package.json
  yarn.lock
Due: prettier --write, format-package -w

chore: add styled-reset
  package.json
  yarn.lock
Due: prettier --write, format-package -w

feat(social-media-dashboard): split components and use styled-components
  packages/social-media-dashboard/package.json
  packages/social-media-dashboard/public/index.html
  packages/social-media-dashboard/src/App.tsx
  packages/social-media-dashboard/src/app-context.tsx
  packages/social-media-dashboard/src/app.tsx
  packages/social-media-dashboard/src/components/card-follower/card-follower.tsx
  packages/social-media-dashboard/src/components/card-follower/index.ts
  packages/social-media-dashboard/src/components/card-stats/card-stats.tsx
  packages/social-media-dashboard/src/components/card-stats/index.ts
  packages/social-media-dashboard/src/components/card-subscriber/card-subscriber.tsx
  packages/social-media-dashboard/src/components/card-subscriber/index.ts
  packages/social-media-dashboard/src/components/card-title/card-title.tsx
  packages/social-media-dashboard/src/components/card-title/index.ts
  packages/social-media-dashboard/src/components/card/card.tsx
  packages/social-media-dashboard/src/components/card/index.ts
  packages/social-media-dashboard/src/components/dashboard-followers/dashboard-followers.tsx
  packages/social-media-dashboard/src/components/dashboard-followers/index.ts
  packages/social-media-dashboard/src/components/dashboard-header/dashboard-header.tsx
  packages/social-media-dashboard/src/components/dashboard-header/index.ts
  packages/social-media-dashboard/src/components/dashboard-subscriptions/dashboard-subscriptions.tsx
  packages/social-media-dashboard/src/components/dashboard-subscriptions/index.ts
  packages/social-media-dashboard/src/components/heading/heading.tsx
  packages/social-media-dashboard/src/components/heading/index.ts
  packages/social-media-dashboard/src/components/index.ts
  packages/social-media-dashboard/src/components/section-heading/index.ts
  packages/social-media-dashboard/src/components/section-heading/section-heading.tsx
  packages/social-media-dashboard/src/components/subheading/index.ts
  packages/social-media-dashboard/src/components/subheading/subheading.tsx
  packages/social-media-dashboard/src/components/toggle/index.ts
  packages/social-media-dashboard/src/components/toggle/toggle.tsx
  packages/social-media-dashboard/src/global-style.tsx
  packages/social-media-dashboard/src/index.css
  packages/social-media-dashboard/src/index.tsx
  packages/social-media-dashboard/src/models/app-state.ts
  packages/social-media-dashboard/src/models/index.ts
  packages/social-media-dashboard/src/models/theme.ts
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(social-media-dashboard): take social media data from context
  packages/social-media-dashboard/src/app-context.tsx
  packages/social-media-dashboard/src/components/card-follower/card-follower.tsx
  packages/social-media-dashboard/src/components/card-stats/card-stats.tsx
  packages/social-media-dashboard/src/components/card-subscriber/card-subscriber.tsx
  packages/social-media-dashboard/src/components/dashboard-followers/dashboard-followers.tsx
  packages/social-media-dashboard/src/components/dashboard-header/dashboard-header.tsx
  packages/social-media-dashboard/src/components/dashboard-subscriptions/dashboard-subscriptions.tsx
  packages/social-media-dashboard/src/models/app-state.ts
  packages/social-media-dashboard/src/models/app-state.tsx
  packages/social-media-dashboard/src/models/index.ts
  packages/social-media-dashboard/src/models/social-media.ts
Due: prettier --write, eslint --fix-dry-run

test(social-media-dashboard): add specs
  package.json
  packages/social-media-dashboard/package.json
  packages/social-media-dashboard/src/__mocks__/app-context-mock.tsx
  packages/social-media-dashboard/src/components/card-follower/card-follower.spec.tsx
  packages/social-media-dashboard/src/components/card-follower/card-follower.tsx
  packages/social-media-dashboard/src/components/card-stats/card-stats.spec.tsx
  packages/social-media-dashboard/src/components/card-subscriber/card-subscriber.spec.tsx
  packages/social-media-dashboard/src/components/card-subscriber/card-subscriber.tsx
  packages/social-media-dashboard/src/components/card-title/card-title.spec.tsx
  packages/social-media-dashboard/src/components/card/card.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-followers/dashboard-followers.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-header/dashboard-header.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-header/dashboard-header.tsx
  packages/social-media-dashboard/src/components/dashboard-subscriptions/dashboard-subscriptions.spec.tsx
  packages/social-media-dashboard/src/components/heading/heading.spec.tsx
  packages/social-media-dashboard/src/components/section-heading/section-heading.spec.tsx
  packages/social-media-dashboard/src/components/subheading/subheading.spec.tsx
  packages/social-media-dashboard/src/components/toggle/toggle.spec.tsx
  packages/social-media-dashboard/src/setupTests.ts
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(social-media-dashboard): use analytics script
  packages/social-media-dashboard/public/favicon.ico
  packages/social-media-dashboard/public/index.html
Due: none

fix(article-preview): adjust format for datetime attr
  packages/article-preview/src/components/author/author.spec.tsx
  packages/article-preview/src/components/author/author.tsx
  packages/article-preview/src/components/card/__snapshots__/card.spec.tsx.snap
Due: prettier --write, eslint --fix-dry-run

chore: update global deps
  .eslintignore
  .nvmrc
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, format-package -w

feat(article-preview): adjust after update core deps
  packages/article-preview/.env
  packages/article-preview/.nvmrc
  packages/article-preview/package.json
  packages/article-preview/src/index.tsx
  packages/article-preview/src/reportWebVitals.ts
  packages/article-preview/src/serviceWorker.ts
  packages/article-preview/src/setupTests.ts
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(coding-bootcamp-testimonials-slider): adjust after update core deps
  packages/coding-bootcamp-testimonials-slider/.env
  packages/coding-bootcamp-testimonials-slider/.nvmrc
  packages/coding-bootcamp-testimonials-slider/package.json
  packages/coding-bootcamp-testimonials-slider/src/index.tsx
  packages/coding-bootcamp-testimonials-slider/src/reportWebVitals.ts
  packages/coding-bootcamp-testimonials-slider/src/serviceWorker.ts
  packages/coding-bootcamp-testimonials-slider/src/setupTests.ts
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(social-media-dashboard): adjust after update core dep
  packages/social-media-dashboard/.env
  packages/social-media-dashboard/.nvmrc
  packages/social-media-dashboard/package.json
  packages/social-media-dashboard/src/index.tsx
  packages/social-media-dashboard/src/reportWebVitals.ts
  packages/social-media-dashboard/src/serviceWorker.ts
  packages/social-media-dashboard/src/setupTests.ts
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore: update to husky@5
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc.js
  package.json
  yarn.lock
Due: prettier --write, format-package -w

style(coding-bootcamp-testimonials-slider): avoid override eslint rules
  packages/coding-bootcamp-testimonials-slider/package.json
  packages/coding-bootcamp-testimonials-slider/src/components/controls/controls.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/image/image.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/image/image.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/quote/quote.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/quote/quote.tsx
Due: prettier --write, format-package -w, eslint --fix-dry-run

style(social-media-dashboard): avoid override eslint rules
  packages/social-media-dashboard/package.json
  packages/social-media-dashboard/src/components/card-follower/card-follower.spec.tsx
  packages/social-media-dashboard/src/components/card-subscriber/card-subscriber.spec.tsx
  packages/social-media-dashboard/src/components/card/card.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-followers/dashboard-followers.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-header/dashboard-header.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-subscriptions/dashboard-subscriptions.spec.tsx
  packages/social-media-dashboard/src/components/heading/heading.spec.tsx
  packages/social-media-dashboard/src/components/section-heading/section-heading.spec.tsx
  packages/social-media-dashboard/src/components/subheading/subheading.spec.tsx
  packages/social-media-dashboard/src/components/toggle/toggle.spec.tsx
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore: :package: update global deps
  .eslintrc.js
  package.json
  tsconfig.base.json
  yarn.lock
Due: prettier --write, format-package -w

feat(article-preview): adjustments after upgrading to React@17
  packages/article-preview/src/App.tsx
  packages/article-preview/src/components/author/author.spec.tsx
  packages/article-preview/src/components/author/author.tsx
  packages/article-preview/src/components/background-image/background-image.spec.tsx
  packages/article-preview/src/components/background-image/background-image.tsx
  packages/article-preview/src/components/card/card.spec.tsx
  packages/article-preview/src/components/card/card.tsx
  packages/article-preview/src/components/share/share.spec.tsx
  packages/article-preview/src/components/share/share.tsx
  packages/article-preview/src/index.tsx
Due: prettier --write, eslint --fix-dry-run

feat(social-media-dashboard): adjustments after upgrading to React@17
  packages/social-media-dashboard/src/__mocks__/app-context-mock.tsx
  packages/social-media-dashboard/src/app-context.tsx
  packages/social-media-dashboard/src/app.tsx
  packages/social-media-dashboard/src/components/card-follower/card-follower.spec.tsx
  packages/social-media-dashboard/src/components/card-follower/card-follower.tsx
  packages/social-media-dashboard/src/components/card-stats/card-stats.spec.tsx
  packages/social-media-dashboard/src/components/card-stats/card-stats.tsx
  packages/social-media-dashboard/src/components/card-subscriber/card-subscriber.spec.tsx
  packages/social-media-dashboard/src/components/card-subscriber/card-subscriber.tsx
  packages/social-media-dashboard/src/components/card-title/card-title.spec.tsx
  packages/social-media-dashboard/src/components/card-title/card-title.tsx
  packages/social-media-dashboard/src/components/card/card.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-followers/dashboard-followers.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-followers/dashboard-followers.tsx
  packages/social-media-dashboard/src/components/dashboard-header/dashboard-header.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-header/dashboard-header.tsx
  packages/social-media-dashboard/src/components/dashboard-subscriptions/dashboard-subscriptions.spec.tsx
  packages/social-media-dashboard/src/components/dashboard-subscriptions/dashboard-subscriptions.tsx
  packages/social-media-dashboard/src/components/heading/heading.spec.tsx
  packages/social-media-dashboard/src/components/section-heading/section-heading.spec.tsx
  packages/social-media-dashboard/src/components/subheading/subheading.spec.tsx
  packages/social-media-dashboard/src/components/toggle/toggle.spec.tsx
  packages/social-media-dashboard/src/components/toggle/toggle.tsx
  packages/social-media-dashboard/src/index.tsx
  packages/social-media-dashboard/src/models/app-state.tsx
Due: prettier --write, eslint --fix-dry-run

feat(coding-bootcamp-testimonials-slider): adjustments after upgrading to React@17
  packages/coding-bootcamp-testimonials-slider/src/__mocks__/app-context-mock.tsx
  packages/coding-bootcamp-testimonials-slider/src/app-context.tsx
  packages/coding-bootcamp-testimonials-slider/src/app.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/controls/controls.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/controls/controls.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/image/image.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/image/image.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/quote/quote.spec.tsx
  packages/coding-bootcamp-testimonials-slider/src/components/quote/quote.tsx
  packages/coding-bootcamp-testimonials-slider/src/index.tsx
Due: prettier --write, eslint --fix-dry-run

chore: :wrench: add scopes for conventional commits plugin
  .vscode/settings.json
Due: prettier --write

chore: fix formatting on save behavior
  .vscode/settings.json
Due: prettier --write

chore: move testing deps to devDeps and fix eslint rule
  .eslintrc.js
  package.json
  packages/article-preview/package.json
  packages/coding-bootcamp-testimonials-slider/package.json
  packages/social-media-dashboard/package.json
Due: prettier --write, format-package -w

chore(clock-app): integrate with monorepo
  packages/clock-app/.env
  packages/clock-app/.gitignore
  packages/clock-app/.nvmrc
  packages/clock-app/package-lock.json
  packages/clock-app/package.json
  packages/clock-app/tsconfig.json
Due: prettier --write, format-package -w

docs(clock-app): add frontendmentor instructions
  packages/clock-app/README.md
  packages/clock-app/design/preview.jpg
Due: none

feat(clock-app): add initial structure from CRA
  packages/clock-app/.gitignore
  packages/clock-app/README.md
  packages/clock-app/package-lock.json
  packages/clock-app/package.json
  packages/clock-app/public/favicon.ico
  packages/clock-app/public/index.html
  packages/clock-app/public/logo192.png
  packages/clock-app/public/logo512.png
  packages/clock-app/public/manifest.json
  packages/clock-app/public/robots.txt
  packages/clock-app/src/App.css
  packages/clock-app/src/App.test.tsx
  packages/clock-app/src/App.tsx
  packages/clock-app/src/index.css
  packages/clock-app/src/index.tsx
  packages/clock-app/src/logo.svg
  packages/clock-app/src/react-app-env.d.ts
  packages/clock-app/src/reportWebVitals.ts
  packages/clock-app/src/setupTests.ts
  packages/clock-app/tsconfig.json
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(clock-app): add light colors
  packages/clock-app/src/styles/colors.ts
Due: prettier --write, eslint --fix-dry-run

chore(clock-app): add as react-icons as peerDependencie
  packages/clock-app/package.json
Due: prettier --write, format-package -w

feat(clock-app): add text component
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/index.ts
  packages/clock-app/src/components/text/index.ts
  packages/clock-app/src/components/text/text.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): add text transform property
  packages/clock-app/src/components/text/text.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): add colors values
  packages/clock-app/src/App.tsx
  packages/clock-app/src/styles/colors.ts
  packages/clock-app/src/styles/global-style.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): add background-image component
  packages/clock-app/src/App.css
  packages/clock-app/src/App.test.tsx
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/background-image/background-image.tsx
  packages/clock-app/src/components/background-image/index.ts
  packages/clock-app/src/components/background-image/lg-daytime.jpg
  packages/clock-app/src/components/background-image/lg-nighttime.jpg
  packages/clock-app/src/components/background-image/md-daytime.jpg
  packages/clock-app/src/components/background-image/md-nighttime.jpg
  packages/clock-app/src/components/background-image/sm-daytime.jpg
  packages/clock-app/src/components/background-image/sm-nighttime.jpg
  packages/clock-app/src/components/index.ts
  packages/clock-app/src/models/current-time.ts
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): add styled-components and set global style
  packages/clock-app/package.json
  packages/clock-app/public/index.html
  packages/clock-app/src/global-style.tsx
  packages/clock-app/src/index.css
  packages/clock-app/src/index.tsx
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(clock-app): add toggle-button component
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/index.ts
  packages/clock-app/src/components/toggle-button/index.ts
  packages/clock-app/src/components/toggle-button/toggle-button.tsx
Due: prettier --write, eslint --fix-dry-run

chore: :hammer: add clock-app scope
  .vscode/settings.json
Due: prettier --write

refactor(clock-app): move images to its own file
  packages/clock-app/src/components/background-image/background-image.tsx
  packages/clock-app/src/components/background-image/images.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): adjustments after upgrading to React@17
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/toggle-button/toggle-button.tsx
  packages/clock-app/src/index.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): :construction: add quote component
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/index.ts
  packages/clock-app/src/components/quote/index.ts
  packages/clock-app/src/components/quote/quote.tsx
  packages/clock-app/src/components/text/index.ts
  packages/clock-app/src/components/toggle-button/toggle-button.tsx
  packages/clock-app/src/styles/text.ts
Due: prettier --write, eslint --fix-dry-run
