Repository ezavile/conquer-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, format-package -w, eslint --fix-dry-run

chore: :hammer: add clock-app scope
  .vscode/settings.json
Due: prettier --write

refactor(clock-app): move images to its own file
  packages/clock-app/src/components/background-image/background-image.tsx
  packages/clock-app/src/components/background-image/images.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): :art: finish markup
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/background-image/images.tsx
  packages/clock-app/src/components/clock/clock.tsx
  packages/clock-app/src/components/clock/index.ts
  packages/clock-app/src/components/index.ts
  packages/clock-app/src/components/quote/index.ts
  packages/clock-app/src/components/quote/quote.tsx
  packages/clock-app/src/components/timezone-info/index.ts
  packages/clock-app/src/components/timezone-info/timezone-info.tsx
  packages/clock-app/src/components/toggle-button/index.ts
  packages/clock-app/src/components/toggle-button/toggle-button.tsx
  packages/clock-app/src/models/current-time.ts
  packages/clock-app/src/styles/global-style.tsx
  packages/clock-app/src/styles/index.ts
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): :construction: integrate endpoints
  packages/clock-app/src/App.tsx
  packages/clock-app/src/api/index.ts
  packages/clock-app/src/components/clock/clock.tsx
  packages/clock-app/src/components/quote/quote.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): :dizzy: add functionality to expand additional info
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/timezone-info/timezone-info.tsx
  packages/clock-app/src/components/toggle-button/toggle-button.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): :construction: add interval timer
  packages/clock-app/src/components/clock/clock.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): :construction: share states
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/background-image/background-image.tsx
  packages/clock-app/src/components/background-image/images.tsx
  packages/clock-app/src/components/clock/clock.tsx
  packages/clock-app/src/components/quote/quote.tsx
  packages/clock-app/src/components/timezone-info/timezone-info.tsx
  packages/clock-app/src/context/app-context.tsx
  packages/clock-app/src/context/app-model.ts
  packages/clock-app/src/index.tsx
  packages/clock-app/src/models/current-time.ts
Due: prettier --write, eslint --fix-dry-run

refactor(clock-app): use Prop Collection and Getters pattern
  packages/clock-app/src/components/toggle-button/toggle-button.tsx
Due: prettier --write, eslint --fix-dry-run

fix(clock-app): avoid overriding background properties and fix layout style
  packages/clock-app/src/App.tsx
  packages/clock-app/src/components/background-image/background-image.tsx
Due: prettier --write, eslint --fix-dry-run

refactor(clock-app): :zap: use context module functions pattern
  packages/clock-app/src/api/index.ts
  packages/clock-app/src/components/clock/clock.tsx
  packages/clock-app/src/components/quote/quote.tsx
  packages/clock-app/src/context/app-context.tsx
  packages/clock-app/src/context/app-model.ts
Due: prettier --write, eslint --fix-dry-run

refactor(clock-app): :zap: integrate useCallback and useRequest hooks
  packages/clock-app/src/components/clock/clock.tsx
  packages/clock-app/src/components/quote/quote.tsx
  packages/clock-app/src/context/app-context.tsx
  packages/clock-app/src/context/app-model.ts
Due: prettier --write, eslint --fix-dry-run

chore: update formatOnSave for eslint configuration
  .vscode/settings.json
Due: prettier --write

refactor(clock-app): :recycle: rename app state context
  packages/clock-app/src/components/background-image/background-image.tsx
  packages/clock-app/src/components/clock/clock.tsx
  packages/clock-app/src/components/quote/quote.tsx
  packages/clock-app/src/components/timezone-info/timezone-info.tsx
  packages/clock-app/src/context/app-context.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): :sparkles: use Flexible Compund Components for spinner
  packages/clock-app/src/components/clock/clock.tsx
  packages/clock-app/src/components/quote/quote.tsx
  packages/clock-app/src/context/request-context.tsx
Due: prettier --write, eslint --fix-dry-run

feat(clock-app): :chart_with_upwards_trend: add analytics script
  packages/clock-app/public/favicon.ico
  packages/clock-app/public/index.html
Due: none

feat(invoice-app): :sparkles: add initial structure from CRA
  packages/invoice-app/.gitignore
  packages/invoice-app/README.md
  packages/invoice-app/package.json
  packages/invoice-app/public/favicon.ico
  packages/invoice-app/public/index.html
  packages/invoice-app/public/logo192.png
  packages/invoice-app/public/logo512.png
  packages/invoice-app/public/manifest.json
  packages/invoice-app/public/robots.txt
  packages/invoice-app/src/App.css
  packages/invoice-app/src/App.test.tsx
  packages/invoice-app/src/App.tsx
  packages/invoice-app/src/index.css
  packages/invoice-app/src/index.tsx
  packages/invoice-app/src/logo.svg
  packages/invoice-app/src/react-app-env.d.ts
  packages/invoice-app/src/reportWebVitals.ts
  packages/invoice-app/src/setupTests.ts
  packages/invoice-app/tsconfig.json
  packages/invoice-app/yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore(invoice-app): :building_construction: integrate with monorepo
  packages/invoice-app/.env
  packages/invoice-app/.gitignore
  packages/invoice-app/.nvmrc
  packages/invoice-app/package.json
  packages/invoice-app/tsconfig.json
  packages/invoice-app/yarn.lock
Due: prettier --write, format-package -w

docs(invoice-app): :memo: add frontendmentor instructions
  packages/invoice-app/README-template.md
  packages/invoice-app/README.md
  packages/invoice-app/preview.jpg
Due: none

feat(invoice-app): :lipstick: use tailwind V2
  packages/invoice-app/package.json
  packages/invoice-app/postcss.config.js
  packages/invoice-app/src/App.css
  packages/invoice-app/src/App.tsx
  packages/invoice-app/src/index.css
  packages/invoice-app/tailwind.config.js
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore(invoice-app): :art: storybook initial setup
  packages/invoice-app/.storybook/main.js
  packages/invoice-app/.storybook/preview.js
  packages/invoice-app/package.json
  packages/invoice-app/src/stories/Button.stories.tsx
  packages/invoice-app/src/stories/Button.tsx
  packages/invoice-app/src/stories/Header.stories.tsx
  packages/invoice-app/src/stories/Header.tsx
  packages/invoice-app/src/stories/Introduction.stories.mdx
  packages/invoice-app/src/stories/Page.stories.tsx
  packages/invoice-app/src/stories/Page.tsx
  packages/invoice-app/src/stories/assets/code-brackets.svg
  packages/invoice-app/src/stories/assets/colors.svg
  packages/invoice-app/src/stories/assets/comments.svg
  packages/invoice-app/src/stories/assets/direction.svg
  packages/invoice-app/src/stories/assets/flow.svg
  packages/invoice-app/src/stories/assets/plugin.svg
  packages/invoice-app/src/stories/assets/repo.svg
  packages/invoice-app/src/stories/assets/stackalt.svg
  packages/invoice-app/src/stories/button.css
  packages/invoice-app/src/stories/header.css
  packages/invoice-app/src/stories/page.css
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

chore(invoice-app): :art: storybook with tailwind
  packages/invoice-app/.storybook/main.js
  packages/invoice-app/.storybook/preview.js
  packages/invoice-app/package.json
  packages/invoice-app/src/App.stories.tsx
  packages/invoice-app/src/App.tsx
  packages/invoice-app/src/stories/Button.stories.tsx
  packages/invoice-app/src/stories/Button.tsx
  packages/invoice-app/src/stories/Header.stories.tsx
  packages/invoice-app/src/stories/Header.tsx
  packages/invoice-app/src/stories/Introduction.stories.mdx
  packages/invoice-app/src/stories/Page.stories.tsx
  packages/invoice-app/src/stories/Page.tsx
  packages/invoice-app/src/stories/assets/code-brackets.svg
  packages/invoice-app/src/stories/assets/colors.svg
  packages/invoice-app/src/stories/assets/comments.svg
  packages/invoice-app/src/stories/assets/direction.svg
  packages/invoice-app/src/stories/assets/flow.svg
  packages/invoice-app/src/stories/assets/plugin.svg
  packages/invoice-app/src/stories/assets/repo.svg
  packages/invoice-app/src/stories/assets/stackalt.svg
  packages/invoice-app/src/stories/button.css
  packages/invoice-app/src/stories/header.css
  packages/invoice-app/src/stories/page.css
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

feat(invoice-app): :lipstick: add color tokens
  .eslintrc.js
  packages/invoice-app/src/index.css
  packages/invoice-app/src/tokens/Tokens.stories.tsx
  packages/invoice-app/src/tokens/Tokens.ts
  packages/invoice-app/src/tokens/colors.ts
  packages/invoice-app/tailwind.config.js
Due: prettier --write, eslint --fix-dry-run

feat(invoice-app): :lipstick: add typography tokens
  .eslintrc.js
  packages/invoice-app/src/index.css
  packages/invoice-app/src/tokens/Tokens.stories.tsx
  packages/invoice-app/src/tokens/Tokens.ts
  packages/invoice-app/src/tokens/colors.ts
  packages/invoice-app/tailwind.config.js
Due: prettier --write, eslint --fix-dry-run

feat(invoice-app): :lipstick: add button components
  packages/invoice-app/package.json
  packages/invoice-app/src/atoms/Button/Button.stories.tsx
  packages/invoice-app/src/atoms/Button/Button.tsx
  packages/invoice-app/src/atoms/Button/index.ts
  packages/invoice-app/src/atoms/index.ts
  packages/invoice-app/src/molecules/ButtonPlus/ButtonPlus.stories.tsx
  packages/invoice-app/src/molecules/ButtonPlus/ButtonPlus.tsx
  packages/invoice-app/src/molecules/ButtonPlus/index.ts
  packages/invoice-app/src/molecules/index.ts
  yarn.lock
Due: prettier --write, format-package -w, eslint --fix-dry-run

Path conditions:
  prettier --write: (any of: **/*.json) or (any of: **/*.{ts,tsx})
  format-package -w: any of: **/package.json
  eslint --fix-dry-run: any of: **/*.{ts,tsx}
